/*#########################################################
### M A I N
#########################################################*/
.app {
  height: 100%;
  width: 95%;
}

.appnav {
  height: 10%;
  width: 100%;
  background-color: #ccccff;
}

.home {
  font-size: larger;
}

.running {
    color: red
}
.not-running {
  color: green
}

.txon {
    color: red;
}
.txoff {
  color: green;
}

/*#########################################################
### P R E F S
#########################################################*/

.prefs {
  background: #ffaaaa;
}

/*#########################################################
### S E T T I N G S
#########################################################*/

.settings-header {
  background: #aaaaff;
}

/*#########################################################
### S T A T U S
#########################################################*/

.status {
  background: #aaaaaa;
  height: 10%;
}

/*#########################################################
### T E R M I N A L
#########################################################*/

.terminal {
  background: #aaffaa;
  height: 55%;
  width: 100%;
}

/*#########################################################
### T U N E R
#########################################################*/

.tuner {
  height: 25%;
}
.tuner-canvas {
  width: 100%;
  height: 80%;
}
.tuner-buttons {
  width: 100%;
  height: 20%;
}
